#B{
    border: 70px Solid lightseagreen;
    margin-right: 830px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
}
.alr{
    background-color: 10px solid lightseagreen;

}
#c{
    color: white;
    padding-left: 80px;
    position: relative;
    bottom: 60px;
}